/*OFName
========*/
#ofname {background-color: #fff;padding: 10px 25px;}
#ofname h1 {margin: 0px;padding: 10px; font-size: 20px;font-weight: 400;}
/*Table
=======*/
.summary {color: #fff;padding: 0px;height: 38px;background-color: #1d1d21;width: 100%;}
.summary .left i{display: inline-block;position: relative;top: 6px;margin-left: 20px}
.summary .left span{font-size: 15px;display: inline-block;position: relative;top: 0px;}
.summary .right i{display: inline-block;position: relative;top: 6px;}
.summary .right span{font-size: 15px;display: inline-block;position: relative;top: 0px;margin-right: 20px;}
/*User Image
============*/
.user-name {font-size: 20px;font-weight: 300;display: block;}
.user-level {font-size: 15ppx;font-weight: 300;display: block;}
.user-level[sadmin] {color: #f57c00;font-weight: bold;}
.user-level[admin] {color: #76ff03;font-weight: bold;}
.user-level[guest] {color: #000;font-weight: 400;}
img.user-image {max-width: 200px;max-height: 200px;border-radius: 10px;}
/*User Form
===========*/
p.tr {height: 35px;padding: 7px;margin-bottom: 14px;}
.data-komen p.tr {font-weight: bold;}
.data-komen p.tr:after {content: ":";float: right;}
/*Proses Logika Hidden
======================*/